.contact {
  color: #fff;
  
  background-color: #9e979744;
  }
  
  .contact a {
    color: #007bff;
    text-decoration: none;
  }
  
  .contact a:hover {
    text-decoration: underline;
  }

  .contact h2 {
    margin-left: 100px; /* Add some spacing from the left edge */
    font-size: 3.5rem; /* Make the text large */
    text-align: left; /* Align the text to the left */
    font-weight: bold; /* Optional: Make the text bold */
    /* color: #fff;  */
    color: #ffd700;
    margin-bottom: 50px;
  }
  