.projects {
  margin-left: 100px; /* Add some spacing from the left edge */
  color: #fff;
  }
  
  .project {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .projects h2 {
    font-size: 4rem; /* Make the text large */
    text-align: left; /* Align the text to the left */
    font-weight: bold; /* Optional: Make the text bold */
    color: #fff; /* Adjust color as needed */
    margin-bottom: 50px;
  }