.projects {
   /* Add some spacing from the left edge */
  color: #fff;
  background-color: #0505059f;
  }
  
  .project {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .projects h2 {
    margin-left: 100px;
    font-size: 4rem; /* Make the text large */
    text-align: left; /* Align the text to the left */
    font-weight: bold; /* Optional: Make the text bold */
    color: #fff; /* Adjust color as needed */
    margin-bottom: 50px;
  }

  .project-list {
    display: flex;
    flex-direction: column; /* Arrange cards vertically */
    gap: 30px; /* Spacing between cards */
  }
  
  .project-card {
    display: flex; /* Side-by-side layout */
    align-items: center;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%; /* Responsive width */
    max-width: 1000px;
    margin: 0 auto; /* Center align */
  }
  
  .project-card img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px; /* Space between image and content */
  }
  
  .project-content {
    text-align: center;
    flex: 1; /* Allow content to take remaining space */
  }
  
  .project-content h3 {
    font-size: 1.8em;
    color: #ffd700;
    margin-bottom: 10px;
  }
  
  .project-content p {
    font-size: 1em;
    color: #fff;
    margin: 5px 0;

  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }