.technologies{
    margin-left: 100px; /* Add some spacing from the left edge */
    background-color: #0505059f;
}

.technologies h2 {
    font-size: 4rem; /* Make the text large */
    text-align: left; /* Align the text to the left */
    font-weight: bold; /* Optional: Make the text bold */
    color: #fff; /* Adjust color as needed */
    margin-bottom: 50px;
  }


  .technologies-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.technologies-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a5a5a5;
    border-radius: 16px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Shadow for 3D effect */
    padding: 10px;
    width: 80px;
    height: 80px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.technologies-item:hover {
    transform: scale(1.1); /* Slight zoom on hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5); /* Enhanced shadow on hover */
}

.technologies-icon {
    width: 50px; /* Adjust size of the image */
    height: 50px;
    object-fit: contain;
    margin-bottom: 5px;
}

.technologies-item p {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}