body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #020817;
  color: #fff;
}

.App {
  text-align: center;
  background: black;
  color: #fff;
}

section {
  padding: 50px 20px;
}

h2 {
  margin-bottom: 20px;
}
